* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#comingSoonVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  text-transform: uppercase;
  position: fixed;
  text-align: center;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#comingSoonBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#comingSoonBtn:hover {
  background: #ddd;
  color: black;
}
