/* ========================================================================================
* Authors : Jonathan Jolivette | Heggy Castaneda | Sean Kushi | Nathan Nijensohn
* Project Name : DOPPELMAKER LANDING PAGE
* File : Doppelmaker INDEX CSS Files
* App Version : 1.0
* ======================================================================================== */

/* ++++++ GLOBAL CSS ++++++ */

html,
body {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  font-family: poynter-oldstyle-display, serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

p {
  line-height: 32px;
}

/* ++++++ MAILCHIMP SECTION ++++++ */

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

/* FONTS */
@import url("https://use.typekit.net/eez8uhx.css"); /* font family = poynter-oldstyle-display */

/*  ++++++ HERO SECTION +++++++ */

/* .overlay {
  height: 100%;
  opacity: 0.3;
  z-index: 2;
  background-color: black;
} */

.hero-area {
  height: 100%;
  min-height: 500px;
  position: relative;
  background-image: url("https://www.gannett-cdn.com/media/USATODAY/USATODAY/2013/06/26/1372267927000-Two-Face-cover-1306261345_16_9.jpg?width=3200&height=1680&fit=crop");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.hero-area:before {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
}

.caption h1 {
  font-size: 40px;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.caption p {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 15px;
}

.caption h1,
.caption p {
  color: #bbb;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*  === PARALLAX SECTIONS === */
#one h1,
#two h1,
#three h1 {
  padding: 10%;
  color: goldenrod;
  margin: 0 auto;
  text-align: center;
  /* vertical-align: middle; */
}

#one {
  background-image: url("../media/party_business.jpg");
}

.info-area {
  height: 100%;
  min-height: 500px;
  position: relative;
  background-image: url(../media/party_business.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.info-area:before {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
}
.caption-bg {
  background: linear-gradient(
    to right,
    #856404 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 50%,
    rgb(133, 100, 4) 100%
  );
  opacity: 0.7;
}

#caption-one {
  text-align: center;
  text-transform: uppercase;
  padding: 3em;
  color: goldenrod;
  opacity: 1 !important;
  margin: 0;
}

.caption p {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 15px;
  position: relative;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}

.caption h1,
.caption p {
  color: #bbb;
}

/*  ++++++ Thank you Gift email button SECTION +++++++ */
#subscribe-button {
  border-radius: 20px;
  background-color: rgb(9, 64, 131);
  border: none;
  color: rgb(230, 226, 211);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.7;
}

a {
  color: rgb(230, 226, 211);
}

#subscribe-button:hover {
  opacity: 1;
}

/* SCROLL UP CHEVRON */

.lnr-chevron-up::before {
  color: #a89f35;
}

.lnr-code::before {
  color: #a89f35;
}

.scrollup {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 30px;
  color: #333;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  line-height: 55px;
  cursor: pointer;
  display: none;
  z-index: 2;
}

.scrollup a {
  text-decoration: none;
}

.scrollup:hover {
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#footer-logo {
  height: 3em;
  width: 9em;
  margin-top: -5em;
  margin-bottom: -4em;
}
