.navbar-default .navbar-brand {
  color: #866406 !important;
  font-weight: 500;
  font-size: inherit;
}

nav {
  position: sticky;
}

#brand-nav {
  position: relative;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  width: 15%;
}
